body,
html {
    font-family: 'Courier New', Arial, Roman, sans-serif;

    height: 100%;
    margin: 0;

    background: black;
}

* {
    box-sizing: border-box;
}

/* Header */
header {
    font-family: 'Courier New', Arial, Vintage, sans-serif;
    font-size: 100px;

    position: relative;

    height: 120px;

    text-align: center;

    color: white;
    background-color: #000;
}

hr {
    margin: 2;
    padding: 0;
}

/* Navbar */
/* Adds a black background */
.topnav {

    overflow: hidden;

    background-color: black;
}

/* Style for links in the top navigation */
.topnav a {
    font-size: 17px;

    position: relative;

    display: block;
    float: left;

    padding: 10px 16px;

    transition: all .4s ease;
    text-align: center;
    text-decoration: none;

    color: white;
}

/* Animation, changing color and background */
.topnav a:hover {
    border-bottom: 1px solid red;
    background-color: rgba(255, 255, 255, .05);
}

/* Changing style of main link */
.active {
    color: white;
    background-color: black;
}

/* Doesn't let to change the size */
.active:hover {
    color: #f3f3f3;
    background-color: rgba(255, 255, 255, .05);
}

.topnav .icon {
    display: none;
    float: right;
}

/* Mobile version */

@media screen and (max-width: 480px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav .dropdown {
        display: none;
    }

    .topnav a.icon {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 480px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a {
        display: block;
        float: none;

        text-align: left;
    }
}

.bg-image {
    /* Full height */
    height: 90%;

    background-repeat: no-repeat;
    /* Styles for all background images */
    background-position: center;
    background-size: cover;
}

/* Sets images */
.img1 {
    background-image: url(../img/background-images/pr_2.png);
}

.img2 {
    background-image: url(../img/background-images/pr_3.jpg);
}

/* Footer */
footer {
    font-size: 15px;

    position: relative;

    width: 100%;
    height: 100px;
    padding: 25px;

    text-align: center;

    color: white;
    background-color: black;
}

footer .fa {
    font-size: 30px;

    text-decoration: none;

    color: white;
}

/* Test Views */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  background-color: black;
  transition: 0.3s;
}

.dropdown .dropbtn:hover {
    border-bottom: 1px solid red;
    background-color: rgba(255,255,255, 0.05);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 10px 16px;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Currnet tab */
.current {
    border-bottom: 1px solid red;
}