/* Styles for all site */
body,
html
{
    font-family: sans-serif, Arial, Roman;

    height: 100%;
    margin: 0;

    background: black;
}

*
{
    box-sizing: border-box;
}

hr {
    position: relative;
}

header
{
    font-family: 'Courier New', Arial, Vintage, sans-serif;
    font-size: 100px;

    position: relative;

    height: 120px;

    text-align: center;

    color: white;
    background-color: #000;
}

/* Adds a black background */
.topnav
{
    overflow: hidden;

    background-color: black;

    position: relative;
}

/* Style for links in the top navigation */
.topnav a
{
    font-size: 18px;

    position: relative;

    display: block;
    float: left;

    padding: 10px 16px;

    transition: all .4s ease;
    text-align: center;
    text-decoration: none;

    color: white;
}

/* Animation, changing color and background */
.topnav a:hover
{
    background-color: rgba(255,255,255, .05);
    border-bottom: 1px solid red;
}

/* Changing style of main link */
.active
{
    color: white;
    background-color: black;
}

/* Doesn't let to change the size */
.active:hover
{
    color: #f3f3f3;
    background-color: rgba(255,255,255, .05);
    border-bottom: 1px solid red;
}

.topnav .icon
{
    display: none;
    float: right;
}

@media screen and (max-width: 480px)
{
    .topnav a:not(:first-child)
    {
        display: none;
    }
    .topnav a.icon
    {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 480px)
{
    .topnav.responsive
    {
        position: relative;
    }
    .topnav.responsive .icon
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive a
    {
        display: block;
        float: none;

        text-align: left;
    }
}

.bg-image
{
    /* Full height */
    height: 90%;

    background-repeat: no-repeat;
    /* Styles for all background images */
    background-position: center;
    background-size: cover;
}

/* Sets images */
.img1
{
    background-image: url(../img/background-images/pr_2.png);
}
.img2
{
    background-image: url(../img/background-images/pr_3.jpg);
}
