* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Consolas", monospace, "Inconsolata", Helvetica, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

#union {
    color: #ffa030;
}

.wrapper {
    display: grid;
    padding: 5px;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "aside"
    "article"
    "footer"
}

header {
    grid-area: header;
    text-align: center;
    margin: 50px;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

nav {
    margin-top: 40px;
}

.active {
    border-bottom: 1px solid red;
}

nav a {
    padding: 10px 15px;
    font-weight: bolder;
    transition: ease 0.3s all;
}

nav a:hover {
    border-bottom: 1px solid red;
}

article, aside {
    background: #fff;
    color: #000;
    padding: 10px;
    line-height: 1.5;
}

article a, aside a {
    color: #ff0b11;
    font-weight: bold;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

.title {
    padding: 10px 20px;
}

.paragraph {
    padding: 10px 20px 0 20px; 
}

footer {
    grid-area: footer;
    margin: 30px 0;
    text-align: center;
    color: #cdcdcd;
}

@media screen and (min-width:600px) {
    .wrapper {
        grid-gap: 1em;
        padding: 0 50px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "header header"
        "article aside"
        "footer footer"
    }

    nav a {
        font-size: 18px;
        padding: 10px 26px;
    }
}

@media screen and (max-width:640px) {
    nav a {
        font-size: 4vw;
    }
}